.ic_content{min-height:100px; background-color:#f0f0f0;padding-bottom:20px;}
.mod_crumb {padding:10px 0; font-family:\5B8B\4F53;}
.article_cnt a{color:#075C9D;}
.article{border:#E8E8E8 solid 1px;margin-bottom:20px; padding:14px 38px 78px;background-color:#fff;margin-bottom:10px;}
.article_tit{font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;}
.article_info{color:#999999;text-align:center;margin-top:2px;}
.article_hd{padding-bottom:18px;}
.article_bd{border-top:#E8E8E8 solid 1px;padding-top:36px;overflow:hidden;}
.article_cnt{min-height:400px; word-break:break-all;overflow:hidden;}
.article_cnt img{max-width:912px;}/*  |xGv00|0f31f1d3696bbbffcd01dc17ef1ed402 */